In [1]:
import sqlite3

In [8]:
connection = sqlite3.connect("sales.db")
cursor = connection.cursor()

# create table for sales data

cursor.execute('''
Create Table If Not Exists sales(
    id Integer Primary Key,
    date text Not Null,
    product Text Not Null,
    sales Integer,
    region Text
    )
''')

sales_data = [
    ('2025-01-01','product1',100,'north'),
    ('2025-01-02','product2',200,'south'),
    ('2025-01-03','product1',150,'east'),
    ('2025-01-04','product3',250,'west'),
    ('2025-01-05','product2',250,'north')
]

cursor.executemany('''
Insert into sales('date','product','sales','region')
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [ ]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

for r in rows:
    print(r)

(1, '2025-01-01', 'product1', 100, 'north')
(2, '2025-01-02', 'product2', 200, 'south')
(3, '2025-01-03', 'product1', 150, 'east')
(4, '2025-01-04', 'product3', 250, 'west')
(5, '2025-01-05', 'product2', 250, 'north')

In [10]:
# closing connection

connection.close()

In [11]:
cursor.execute('Select * from sales')
rows = cursor.fetchall()

for r in rows:
    print(r)

ProgrammingError: Cannot operate on a closed database.