In [18]:
import sqlite3

In [19]:
# creating and connectin data base
connection = sqlite3.connect("test.db")
connection

In [20]:
cursor = connection.cursor()

In [21]:
# crete table

cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary key,
    name Text Not Null,
    age Integer,
    department Text
    )
''')

# commititng the changes
connection.commit()

In [22]:
cursor.execute('''
Select * from employees
''')

In [23]:
# inserting data 

cursor.execute('''
Insert into employees('name','age','department')
VALUES('ayush','21','ML Engineer')
''')

cursor.execute('''
Insert into employees('name','age','department')
VALUES('bob','21','Sales')
''')

cursor.execute('''
Insert into employees('name','age','department')
VALUES('charlie','21','Finance')
''')

# commit
connection.commit()

In [27]:
# data querring

cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

In [28]:
#printing data

for row in rows:
    print(row)

(1, 'ayush', 21, 'ML Engineer')
(2, 'bob', 21, 'Sales')
(3, 'charlie', 21, 'Finance')

In [33]:
# updateing data

cursor.execute('''
Update employees
Set age = 21 
WHERE name = 'ayush'
''')

connection.commit()

In [35]:
#delete data

cursor.execute('''
Delete from employees
Where name = "bob"
''')

connection.commit()

In [36]:
cursor.execute('Select * from employees')

rows = cursor.fetchall()

for i in rows:
    print(i)

(1, 'ayush', 21, 'ML Engineer')
(3, 'charlie', 21, 'Finance')